body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

.card {
  margin: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 350px;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: #00c6ff;
  color: white;
}

#app {
  display: none;
}
